* {
  box-sizing: border-box;
}

html,
body {
  @apply bg-[radial-gradient(circle,hsl(var(--foreground)/0.025)_0%,hsl(var(--background))_40%)];
  background-attachment: fixed;
  margin: 0;
}

body {
  min-height: 100dvh;
  position: relative;
  z-index: 0;

  --grid-size: 20px;
  --lines-transparency: 0.025;
  --lines-width: 1px;
  --dot-transparency: 0.001;
  --dot-width: 1px;

  &::after {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, var(--dot-transparency)) 0px,
        rgba(255, 255, 255, var(--dot-transparency)) var(--dot-width),
        transparent 1px
      ),
      linear-gradient(to right, rgba(255, 255, 255, var(--lines-transparency)) var(--lines-width), transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, var(--lines-transparency)) var(--lines-width), transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
    background-attachment: fixed;
  }
}
